{{- $src := .Get "src" -}}
{{- $scale := .Get "scale" -}}
{{- $alt := .Get "alt" | default "" -}}

{{- with .Page.Resources.GetMatch $src -}}
  {{- $origWidth := .Width -}}
  {{- $origHeight := .Height -}}
  
  {{- $newWidth := mul (div $origWidth 100.0) ($scale | float) -}}
  {{- $newHeight := mul (div $origHeight 100.0) ($scale | float) -}}
  
  <img src="{{ .RelPermalink }}" alt="{{ $alt }}" style="width:{{ $newWidth }}px; height:{{ $newHeight }}px;">
{{- else -}}
  <img src="{{ $src }}" alt="{{ $alt }}">
{{- end -}}
